<ion-view title="Menu" class="temp1">
    <ion-content padding="true" class="has-header">
     <div style="width:40%; float:left;">
<ul class="list" style="background-color:rgba(255,255,255,0);">
  <a class="item item-icon-left" href="#/tab/Messages" style="background-color:rgba(255,255,255,.1); margin-top:10%">
    <i class="icon ion-chatbox"></i>
    Messages
  </a>

  <a class="item item-icon-left" href="#/tab/Reviews" style="background-color:rgba(255,255,255,.1); margin-top:10%">
    <i class="icon ion-person-add"></i>
    Reviews
  </a>

  <a class="item item-icon-left" href="#/tab/Customers" style="background-color:rgba(255,255,255,.1); margin-top:10%">
    <i class="icon ion-android-contacts"></i>
  	Customers
  </a>

  <a class="item item-icon-left" href="#/tab/Reminders" style="background-color:rgba(255,255,255,.1); margin-top:10%">
    <i class="icon ion-android-reminder"></i>
    Reminders
  </a>
  <a class="item item-icon-left" href="#/login" style="background-color:rgba(255,255,255,.1); margin-top:10%">
    <i class="icon ion-log-in"></i>
    Login
  </a>
   <a class="item item-icon-left" href="#/api/logout.php" style="background-color:rgba(255,255,255,.1); margin-top:10%">
    <i class="icon ion-log-out"></i>
    Logout
  </a>

</ul>
</div>
<div style="width:50%; float:right; margin-top:10%; font-size: 200%; text-align:center;">
we would love to have a review!!
</div>

    </ion-content>
</ion-view>