<ion-view title="Login">
    <ion-content padding="true" class="has-header">
            <form>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="email" required/>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="password"required/>
                </label>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-balanced button-block " ng-click="check()">Log in</button>
            <a href="#/signup" class="button button-positive button-clear button-block ">Or create an account</a>
            <span id="message">{{message}}</span>
        </form>
    </ion-content>
</ion-view>